.cart {
    float: right;
  }

.cart-items {
  border: 2px solid gray;
  background-color: lightgray;
  width: 30%;
  margin-top: 35px;
  margin-left: 64%;
  padding: 15px;
  position:fixed;
}

.cart-item {
  display: flex;
  margin: 50px 10px 50px 20px;
}

.cart-item img {
  width: 200px;
  height: 200px;
  margin-right: 10px;
}