.variant {
    width: 50px;
    height: 50px;
    border: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0px 20px 20px 0px;
}